.progress {
    text-align: center;
}

.search-bar {
    text-align: center;
    padding-bottom: 20px;
}

.title {
    text-align: center;
    padding: 20 0;
    margin: 0;
    font-family: Roboto, sans-serif;
}